@charset "utf-8";
/* CSS Document */
.boxy-wrapper {
	position:absolute;
}
.boxy-wrapper.fixed {
	position:fixed;
}
/* Modal */ 
.boxy-modal-blackout {
	position:absolute;
	background-color:#FFF;
	left:0;
	top:0;
}
/* Border */
.boxy-wrapper {
	empty-cells:show;
}
.boxy-wrapper .top-left{
	width:2px;
	height:2px;
	padding:0
}
.boxy-wrapper .top-right{
	width:2px;
	height:2px;
	padding:0
}
.boxy-wrapper .bottom-right{
	width:2px;
	height:2px;
	padding:0
}
.boxy-wrapper .bottom-left{
	width:2px;
	height:2px;
	padding:0
}
.boxy-wrapper .top-left { background:url(http://img.liansuo.com/html/images/boxyimages/top_l.jpg) no-repeat;}
.boxy-wrapper .top-right { background:url(http://img.liansuo.com/html/images/boxyimages/top_R.jpg) no-repeat;}
.boxy-wrapper .bottom-right { background-color:#ffa82c;}
.boxy-wrapper .bottom-left { background-color:#ffa82c;}
.boxy-wrapper .top{
	height:2px;
	background-color:#ffa82c;
	padding:0
}
.boxy-wrapper .bottom {
	height:2px;
	background-color:#ffa82c;
	padding:0
}
.boxy-wrapper .left{
	width:2px;
	background-color:#ffa82c;
	padding:0
}
.boxy-wrapper .right {
	width:2px;
	background-color:#ffa82c;
	padding:0;
}
/* Title bar */
.boxy-wrapper .title-bar {
	background:url(http://img.liansuo.com/html/images/boxyimages/top_mid.jpg) repeat-x;
	padding:6px;
	position:relative;
}
.boxy-wrapper .title-bar.dragging {
	cursor:move;
}
.boxy-wrapper .title-bar h2 {
background:url(http://img.liansuo.com/html/images/boxyimages/tk_logo.jpg) no-repeat;
	font-size:12px;
	color:#4D4D69;
	line-height:16px;
	margin:0;
	padding:0;
	padding-left:25px;
	font-weight:normal;
}
.boxy-wrapper .title-bar .close {
	color:#4D4D69;
	position:absolute;
	top:5px;
	right:6px;
	font-size:12px;
}
.boxy-wrapper .title-bar .close:hover {
	background-color:#E4E4E4;
}
/* Content Region */
.boxy-inner {
	background-color:white;
	padding:0
}
.boxy-content {
	padding:12px;
}
/* Question Boxes */
.boxy-wrapper .question {
	width:350px;
	min-height:60px;
	_height:60px;
}
.boxy-wrapper .answers {
	text-align:right;
}
/*confirm btn by zhangxinxu http://www.zhangxinxu.com*/
.boxy-btn1, .boxy-btn2, .boxy-btn3 {
	padding:3px 12px 1.9px;
	border-width:1px;
	border-style:solid;
	letter-spacing:1px;
	line-height:15px;
	cursor:pointer;
	overflow:visible;
}
.boxy-btn1 {
	background-color:#425f99;
	border-color:#5A7EC6 #2C3E5F #2C3E5F #5A7EC6;
	color:white;
}
.boxy-btn2 {
	background-color:#ECE9D8;
	border-color:#eeeeee #bbbbbb #bbbbbb #eeeeee;
	color:#333333;
}
.boxy-btn3 {
	background-color:#EAEAEA;
	border-color:#EAEAEA #aaaaaa #aaaaaa #EAEAEA;
	color:#333333;
	padding:3px 5px 1.9px;
}
.boxy-btn3:hover {
	background-color:#cad5eb;
	border-color:#CED8E3 #A2ADBC #A2ADBC #CED8E3;
}
/* CSS Document */
/*.login-box{width:725px; background:url(http://img.liansuo.com/html/images/dialog/t_about05.gif) no-repeat;}*/
.login-box .title{overflow:hidden; _zoom:1; padding:0 10px 0 20px;}
.login-box .title .logo{float:left; width:281px; height:54px; padding-top:20px;}
.login-box .title .logo img{width:281px; height:54px;}
.login-box .title .desc{float:left; padding:30px 0 0 20px;}
.login-box .title .desc h3{font-size:16px; font-weight:lighter; color:#ff6600;}
.login-box .title .desc p{color:#666; line-height:20px;}
.login-box .title a{}
.login-box .title .jqtitle{ padding-top:45px; padding-left:25px; padding-bottom:10px; background:#FFF}

.login-box .body{overflow:hidden; _zoom:1; padding:10px;}
.login-box .body .left-body{float:left; width:420px;}
.login-box .body .left-body .top{background:url(http://img.liansuo.com/html/images/dialog/login_line.gif) repeat-x left bottom; margin:0 20px; height:40px; line-height:40px;}
.login-box .body .left-body .top h3{font-size:16px; padding-left:20px;}
.login-box .body .left-body .box-body{padding:20px; border-right:1px solid #d8d8d8;}
.login-box .body .left-body .box-body table td p{height:20px; line-height:20px; color:#666;}
.login-box .body .left-body .box-body table{width:100%;}
.login-box .body .left-body .box-body table th{padding:15px 0; width:100px; font-weight:lighter; vertical-align:top; text-align:right; font-size:14px; color:#666;}
.login-box .body .left-body .box-body table td{padding:10px 0;}
	.i-text{height:20px; line-height:20px; padding:2px 3px; color:#333; font-size:14px;}
.login-box .body .left-body .box-body table td label{margin:0 5px;}
	.find-pwd{vertical-align:middle;}
	.find-pwd:link, .find-pwd:visited{color:#6666cc;}
	.find-pwd:hover{color:#c00;}
.login-box .body .right-body{float:left; width:240px; padding:30px 0 0 20px;}
.login-box .body .right-body .Ri_top{border-bottom:1px solid #ccc; padding-bottom:10px;}
.login-box .body .right-body .Ri_top p{line-height:24px; color:#666;}
	.regedit{background:#f60; padding:2px 10px; font-size:14px;}
	.regedit:link, .regedit:visited{color:#fff;}
	.logbtn{background:#e60012; padding:2px 10px; font-size:14px;}
	.logbtn:link, .logbtn:visited{color:#fff;}
.login-box .body .right-body .partner{padding:20px 0;}
.login-box .body .right-body .partner li{float:left; color:#999; margin-right:5px; padding-left:22px; height:20px; line-height:20px; background:url(http://img.liansuo.com/html/images/dialog/icon_bg.png) no-repeat;}
.login-box .body .right-body .partner li.tencent{background-position:0 0;}
.login-box .body .right-body .partner li.wangyi{background-position:0 -20px;}
.login-box .body .right-body .partner li.renren{background-position:0 -40px;}
.login-box .body .right-body .partner li.sina{background-position:0 -60px;}
.login-box .body .right-body .partner li.kaixin{background-position:0 -80px;}
.login-box .body .right-body .partner li a{margin-right:5px;}
	.input_red{border:1px solid #f00;}
	.i-button{border:0; background:url(http://img.liansuo.com/html/images/dialog/grzc_14.jpg) no-repeat; width:86px; height:26px; padding-bottom:5px; padding-bottom:0\9; font-size:14px; text-align:center; cursor:pointer; color:#FFFFFF;}
.i-button-not{border:0; background:url(http://img.liansuo.com/html/images/dialog/grzc_not.jpg) no-repeat; width:86px; height:26px; padding-bottom:5px; padding-bottom:0\9; font-size:14px; text-align:center; cursor:pointer; color:#FFFFFF;}

.success{}
.success dl:after{content:'.'; display:block; clear:both; visibility:hidden; height:0;}
.success dl{*zoom:1; padding:30px 0 30px 80px;}
.success dt{width:64px; height:64px; float:left; margin-right:30px;}
.success dd{float:left; width:600px;}
.success dd p{padding:10px;}
.success dd p strong{color:#35b7eb; font-size:30px;}
.success dd p b{color:#080; margin:0 5px;}
.success dd p span{color:#999;}
.success dd p a.succ-btn{width:167px; height:40px; line-height:40px; font-size:18px; font-weight:bold; background:url(http://img.liansuo.com/html/images/dialog/button_bg09.jpg) no-repeat; display:block; overflow:hidden; _zoom:1; text-align:center;}
.success dd p a.succ-btn:link, .success dd p a.succ-btn:visited{color:#fff;}
.success dd p a.succ-btn:hover{color:#ff0;}
.success dd p a.blue:link, .success dd p a.blue:visited{color:#0102bf;}
.success dd p a.blue:hover{color:#f00;}

.login-box .process{padding:20px 0 0 20px;}
.login-box .process .step{height:32px; line-height:32px;}
.login-box .process .step1{background:url(http://img.liansuo.com/html/images/dialog/process_bg.gif) no-repeat;}
.login-box .process .step2{background:url(http://img.liansuo.com/html/images/dialog/process_bg1.gif) no-repeat; padding-left:20px;}

.login-box .process .step{font-size:14px; font-weight:bold; color:#888; margin-bottom:8px;}
.login-box .process .step strong{color:#fff; margin:0 40px 0 20px;}
.login-box .process p{font-weight:bold; color:#72b054; padding-left:10px; border-top:1px solid #ddd; height:32px; line-height:32px; font-size:16px;}
.login-box .process .step2 strong{margin:0 0 0 36px;}

.login-box .perfect .left-body{width:380px;}
.login-box .perfect .left-body .box-body{padding:0; border-right:none;}
.login-box .perfect .left-body .box-body table th{width:140px; padding:15px 0;}
.login-box .perfect .left-body .box-body table td{padding:5px 0;}
.login-box .perfect .left-body .box-body table td select{padding:1px 3px; margin-right:5px;}
.login-box .perfect .right-body{ background:url(http://img.liansuo.com/html/images/dialog/right_line.gif) no-repeat left top; width:400px;}
.desc-top{background:url(http://img.liansuo.com/html/images/dialog/icon_people.gif) no-repeat left top; padding-left:40px;}
.desc-top p{line-height:20px; font-size:13px; color:#333;}
.desc-bottom{padding:40px 0 0 10px;}
.desc-bottom p{color:#666;  line-height:240%; font-size:14px;}
.desc-bottom p em{font-size:28px; color:#5ea344; margin:0 5px;}
.save-btn{background:url(http://img.liansuo.com/html/images/dialog/button_bg01.jpg) no-repeat; margin-top:20px; width:127px; height:30px; text-align:center; border:0; cursor:pointer; padding-bottom:5px; padding-bottom:0\9;}
.jump-btn{background:url(http://img.liansuo.com/html/images/dialog/button_bg02.jpg) no-repeat; margin-top:20px; width:79px; height:29px; text-align:center; border:0; cursor:pointer; padding-bottom:5px; padding-bottom:0\9;}

.login-box .perfect .left-body .box-body table tr.current{background:#e3eef8;}
.login-box{}
.login-box .filter{ display:none; float:left; padding:10px; width:450px; background:#e3eef8; z-index:1000;}
.login-box .filter-title{height:32px; line-height:32px; position:relative;}
.login-box .filter-title h3{font-size:16px; color:#333;}
.login-box .filter-title strong{display:block; font-size:16px; width:138px; height:46px; text-align:center; color:#fff; padding-top:0px; position:absolute; top:-3px; right:60px; background:url(http://img.liansuo.com/html/images/dialog/tips_down.gif) no-repeat;}
.login-box .filter-title a{position:absolute; right:10px; top:0;}
.login-box .filter-box{border:1px solid #ccc; border-bottom:none; background:#fff; overflow:hidden; _zoom:1;}
.login-box .filter-box dl:after{content:'.'; display:block; clear:both; visibility:hidden; height:0;}
.login-box .filter-box dl{width:130px; *zoom:1; float:left; padding:10px 0 10px 10px; position:relative;}
.login-box .filter-box dl dt{width:50px; height:50px; padding:1px; border:1px solid #b1c1e1; float:left; margin:0 5px 0 0;}
.login-box .filter-box dl dt img{width:50px; height:50px;}
.login-box .filter-box dl dd p{color:#ccc; line-height:18px;}
.login-box .filter-box dl dd p strong{color:#333;}
	.blue:link, .blue:visited{color:#7fa3cb;}
	.blue:hover{color:#f60;}
.login-box .filter-box ul{padding-bottom:10px;}
.login-box .filter-box li{width:110px; height:80px; float:left; text-align:center; margin:15px 0 0 25px; _display:inline;}
.login-box .filter-box li img{width:100px; height:60px; display:block; margin-bottom:5px;}

/** 灰色背景 **/
.gray{filter:alpha(opacity=40); opacity:0.4;}
.normal{filter:alpha(opacity=100); opacity:1;}

/** 完成 **/
.left-box{width:125px; padding:10px; background:#e3eef8; float:left;}
.right-box{background:#e3eef8; padding:5px 10px 10px; position:relative; margin-left:20px;}
.right-box .arrow-left{width:24px; height:66px; background:url(http://img.liansuo.com/html/images/dialog/arrow_left.gif) no-repeat; position:absolute; left:-24px; top:15px;}
.right-box .box-body:after{content:'.'; display:block; clear:both; visibility:hidden; height:0;}
.right-box .box-body{background:#fff; border:1px solid #ccc; overflow-x:hidden; overflow-y:scroll;}
.right-box .right-title{height:24px; line-height:20px; font-size:14px; color:#333;}
.left-box dl:after, .right-box .box-body dl:after{content:'.'; display:block; clear:both; visibility:hidden; height:0;}
.left-box dl{width:130px; padding:10px 0; position:relative;}
.right-box .box-body dl{width:130px; *zoom:1; padding:10px 0 10px 15px; float:left; position:relative;}
.left-box dl dt, .right-box .box-body dl dt{width:50px; height:50px; padding:1px; border:1px solid #b1c1e1; float:left; margin:0 5px 0 0;}
.left-box dl dt img, .right-box .box-body dl dt img{width:50px; height:50px;}
.left-box dl dd p, .right-box .box-body dl dd p{color:#ccc; line-height:18px;}
.left-box dl dd p strong, .right-box .box-body dl dd p strong{color:#333;}

.login-box .cbox1, .login-box .cbox2{padding:0 20px 10px;}
.right-box .box-body li{width:100px; height:80px; float:left; text-align:center; margin:10px 0 0 16px; _display:inline;}
.right-box .box-body li img{width:100px; height:60px; display:block; margin-bottom:5px;}

.foot-link{text-align:center;}
.foot-link a{display:inline-block; margin:0 5px; width:79px; height:29px; line-height:29px; background:url(http://img.liansuo.com/html/images/dialog/button_bg02.jpg) no-repeat; text-align:center; overflow:hidden; _zoom:1;}

.reg-foot{text-align:center; padding:10px 0;}
.reg-foot p{line-height:24px; color:#666;}
.reg-foot p a{margin:0 3px;}
/******************/
.log_top{background:url(http://img.liansuo.com/html/images/dialog/login_line.gif) repeat-x left bottom; margin:0 20px; height:40px; line-height:40px;}
.log_top h3{font-size:16px; padding-left:20px;}
.hei_10{height:10px; line-height:10px; clear:both;}
.log_cyz_img{width:329px; height:268px; float:left; display:inline; padding:0 10px 0 10px;}
.log_cyz_img a img{border:#f0f0f0 solid 2px;}
.log_cyz_img a:hover img{border:#a8e3ff solid 2px;}
.log_qy_img a:hover img{border:#ffcab3 solid 2px;}
/*公共基础begin*/
*{margin:0;padding:0;}

:focus{outline:0;}

ul:after, dl:after, .clearfix:after{content:"."; display:block; clear:both; visibility:hidden; height:0;}

.l{float:left;}
.r{float:right;}

.log_body{overflow:hidden; _zoom:1; padding:10px;}
.log_body .left-body{float:left; width:420px;}
.log_body .left-body .top{background:url(ttp://img.liansuo.com/html/images/dialog/login_line.gif) repeat-x left bottom; margin:0 20px; height:40px; line-height:40px;}
.log_body .left-body .top h3{font-size:16px; padding-left:20px;}
.log_body .left-body .box-body{padding:20px; border-right:1px solid #d8d8d8;}
.log_body .left-body .box-body table td p{height:20px; line-height:20px; color:#666;}
.log_body .left-body .box-body table{width:100%;}
.log_body .left-body .box-body table th{padding:10px 0; width:100px; font-weight:lighter; vertical-align:top; text-align:right; font-size:14px; color:#666;}
.log_body .left-body .box-body table td{padding:10px 0;}
	.i-text{height:20px; line-height:20px; padding:2px 3px; color:#333; font-size:14px;}
.log_body .left-body .box-body table td label{margin:0 5px;}
	.find-pwd{vertical-align:middle;}
	.find-pwd:link, .find-pwd:visited{color:#6666cc;}
	.find-pwd:hover{color:#c00;}
.log_body .right-body{float:left; width:240px; padding:30px 0 0 20px;}
.log_body .right-body .top{border-bottom:1px solid #ccc; padding-bottom:10px;}
.log_body .right-body .top p{line-height:24px; color:#666;}
	.regedit{background:#f60; padding:2px 10px; font-size:14px;}
	.regedit:link, .regedit:visited{color:#fff;}
	.logbtn{background:#e60012; padding:2px 10px; font-size:14px;}
	.logbtn:link, .logbtn:visited{color:#fff;}
.log_body .right-body .partner{padding:20px 0;}
.log_body .right-body .partner li{float:left; color:#999; margin-right:5px; padding-left:22px; height:20px; line-height:20px; background:url(ttp://img.liansuo.com/html/images/dialog/icon_bg.png) no-repeat;}
.log_body .right-body .partner li.tencent{background-position:0 0;}
.log_body .right-body .partner li.wangyi{background-position:0 -20px;}
.log_body .right-body .partner li.renren{background-position:0 -40px;}
.log_body .right-body .partner li.sina{background-position:0 -60px;}
.log_body .right-body .partner li.kaixin{background-position:0 -80px;}
.log_body .right-body .partner li a{margin-right:5px;}
	.input_red{border:1px solid #f00;}


